<div class="h-screen flex items-center justify-center bg-dark">
  <div class="bg-darkGray p-4 sm:p-8 sm:rounded-2xl shadow-md w-full h-full sm:h-auto max-w-md flex flex-col justify-start">
    <h2 class="sm:text-green text-white text-2xl font-bold mt-20 mb-10 text-center sm:mt-6 sm:mb-8">Radio</h2>
    
    <%= form_with(url: signin_path, method: :post, local: true, data: { turbo: false }, class: "flex flex-col") do |form| %>

      <!-- Username Input -->
      <div class="mb-2 sm:mb-4">
        <%= form.text_field :username, placeholder: "username", class: "w-full p-3 bg-dark text-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-green" %>
      </div>

      <!-- Password Input -->
      <div class="mb-2 sm:mb-4">
        <%= form.password_field :password, placeholder: "password", class: "w-full p-3 bg-dark text-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-green" %>
        <% if flash[:error] %>
          <p class="text-red"><%= flash[:error] %></p>
        <% end %>
      </div>

      <!-- Submit Button -->
      <div class="mb-2 sm:mb-4 bg-green-100">
        <%= form.submit "Signin", class: "w-full p-3 bg-green text-white rounded-2xl hover:bg-green-dark focus:outline-none" %>
      </div>

      <!-- Sign Up Link -->
      <div class="text-center mt-4">
        <p class="text-white">Don't have an account? <a href="<%= signup_path %>" class="text-green hover:underline">Sign up</a></p>
      </div>
    <% end %>
  </div>
</div>
