<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Radio</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="/assets/application.css" media="all" data-turbo-track="reload">
    
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class="bg-dark h-full text-white font-sans">

    <!-- Navigation Bar -->
    <nav class="bg-darkGray w-full p-4 text-white flex justify-between items-center shadow-lg">
      <div class="text-xl font-semibold">
        <a class="text-white" href="/">Home</a>
      </div>
      <div class="flex items-center">
        <% if current_user %>
          <!-- Create Playlist Button -->
          <%= link_to 'Playlist', playlists_path, class: "bg-green text-white px-3 py-1 rounded mr-2" %>

          <% if current_user.admin? %>
            <!-- Create Album Button for Admins -->
            <%= link_to 'Add Album', new_album_path, class: "bg-green text-white px-3 py-1 rounded mr-2" %>
          <% end %>
        <% end %>

        <!-- Sign Out Link -->
        <a class="ml-4 text-white" rel="nofollow" data-method="delete" href="/signout">Sign Out</a>
      </div>
    </nav>

    <!-- Albums Section -->
    <div class="container mx-auto p-4 min-h-screen">
      <h1 class="text-3xl font-bold my-4">Albums</h1>
      <div id="albums-list">
        <%= render 'albums' %>
      </div>
    </div>

  </body>
</html>
