<div class="h-screen flex items-center justify-center bg-dark">
  <div class="bg-darkGray p-4 sm:p-8 sm:rounded-2xl shadow-md w-full h-full sm:h-auto max-w-md flex flex-col justify-start">
    <h2 class="text-green text-2xl font-bold mt-20 mb-10 text-center sm:mt-6 sm:mb-8">Create Album</h2>

    <%= form_with(model: @album, local: true, class: "flex flex-col") do |form| %>
      <% if @album.errors.any? %>
        <div class="mb-4 text-red-500">
          <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>
          <ul>
            <% @album.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    

      <!-- Label for the file input -->
      <div class="mb-4 text-green">
        <%= form.label :image, "Album Image", class: "mb-2" %> <!-- Add margin below the label -->
        <!-- Custom styled button that contains the hidden file input -->
        <label class="w-full p-3 bg-dark text-white rounded-2xl cursor-pointer text-center block focus:outline-none focus:ring-2 focus:ring-green">
          Choose File
          <%= form.file_field :image, style: "display: none;", id: "file-upload" %>
        </label>
      </div>


      <!-- Title Input -->
      <div class="mb-4">
        <%= form.text_field :title, placeholder: "Album Title", class: "w-full p-3 bg-dark text-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-green" %>
      </div>

      <!-- Artist Input -->
      <div class="mb-4">
        <%= form.text_field :artist, placeholder: "Artist Name", class: "w-full p-3 bg-dark text-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-green" %>
      </div>

      <!-- Release Year Input -->
      <div class="mb-4">
        <%= form.number_field :release_year, placeholder: "Release Year", class: "w-full p-3 bg-dark text-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-green" %>
      </div>

      <!-- Duration Display -->
      <div class="mb-4">
        <%= form.number_field :duration, value: 0, class: "w-full p-3 bg-dark text-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-green", readonly: true %>
        <p class="text-green text-sm">Duration is 0 seconds</p>
      </div>

      <!-- Copies Input -->
      <div class="mb-4">
        <%= form.number_field :copies, placeholder: "Number of Copies", class: "w-full p-3 bg-dark text-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-green" %>
      </div>

      <!-- Submit Button -->
      <div class="mb-2">
        <%= form.submit "Create", class: "w-full p-3 bg-green text-white rounded-2xl hover:bg-green-dark focus:outline-none" %>
      </div>
    <% end %>
  </div>
</div>
